@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap'); 
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
    color: rgb(0, 0, 0);
}

body{
    background-image: url(/image/agua.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.card{
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;
    /*a mudança começa da direita. Primeiro 3px ta alterando
    a parte direita seguinda pelo outro 3px que ta alterando em baixo,
    o 1px a esquerda e 0px em cima*/
}

h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(1, 143, 161);
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(1, 143, 161);
    background-color: transparent;
    outline: none;  
    min-width: 180px;
    font-size: 10px;
    transition: all .3s ease-in;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid rgb(0, 225, 255);
}

.label-float label{
    color: rgb(1, 143, 161);
    pointer-events: none;
    position: absolute;
    top: 0;left: 0;
    margin-top: 1px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label,
input::placeholder{
    font-size: 13px;
    margin-top: 0; 
    color: rgb(0, 225, 255);
}

button{
    background-color: transparent;
    border-color: rgb(1, 143, 161);
    color: rgb(1, 143, 161);
    padding: 7px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease-out;
}

button:hover{
    background-color: rgb(1, 143, 161);
    color: #fff;
}

.justify-center{
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p{
    color: rgb(1, 143, 161);
    font-size: 14pt;
    text-align: center;
}

a{
    color:rgb(55, 199, 218);
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease-out;
}

a:hover{
    color: rgb(1, 143, 161);
}
/*
input::placeholder{
    color: rgb(0, 225, 255);
}
*/
.fa-eye{
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
    color: rgb(1, 143, 161);
}