@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    background: rgba(0,0,0, .06);
}

#logo{
    font-size: 2.5rem;
    font-weight: bold;
    background: none;
}


#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 2rem;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px){
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        margin-top: 5px;
        border-top: 2px solid;
        width: 20px;
        display: block;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        /*currentColor ver a cor do elemento anterior e usa ele sem precisar mexer nas duas linhas para alterar a cor*/
        background: currentColor;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    } 
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0, .06);
    }
}